@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Manrope", "Segoe UI", sans-serif;
  }
  body {
    @apply bg-cloud text-ink;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/80 backdrop-blur border border-white/60 shadow-card;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
